/* BODY */
/* 
body {
    height: 100px;
}
 */
/* FONTS FAMILY GERAL */
h1 {
    font-family: 'Righteous', cursive;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
/* BARRA FIXA DO TOPO */
header {
    width: 100vw;
    height: 92px;
    position: fixed;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-left: 21px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}
header h1 {
    font-size: 44px;
    color: #FFFFFF;
}
header h2 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
}
/* CORPO DO APP */
main {
    width: 100vw;
    /* height: 1026px; */
    /* height: calc(100vh + 430px); */
    position: relative;
    background-color: #EEEEEE;
    /* border: 1px solid black; */
}
.conteudo {
    /* width: 414px; */
    /* height: 1311px; */
    position: relative;
}
.menu {
    padding-top: 27px;
    padding-left: 19px;
    /* padding-right: 19px; */
}
.menu-1 {
    padding-top: 123px;
}
.menu-3 {
    padding-bottom: 92px;
}
.menu h1 {
    font-size: 26px;
    color: #333333;
    padding-bottom: 17px;
}
.menu-opcoes {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 17px; /* DETALHE BESTA DA BARRINHA DE ROLAGEM */
    /* overflow: hidden; */
}
/* 
.menu-opcao-checado {
    box-sizing: border-box;
    display: none;
    width: 128x;
    height: auto;
    border-radius: 9px;
    margin: auto;
    background-color: #000000;
    position: sticky;
    z-index: 1;
    border: 5px solid #32B72F;
}
 */
/*  
.sinal-checado-verde {
     width: auto;
     height: 10px;
     border-radius: 50px;
     background-color: blue;
     border: 5px solid black;
     padding: 0;
 }
 */
.menu-opcao {
    box-sizing: border-box;
    width: 144x;
    height: auto;
    background-color: #ffffff;
    border-radius: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
    margin-right: 16px;
    position: relative;
    /* z-index: 0; */
}
.menu-opcao > h1 {
    width: 144px;
    padding-left: 14px;
    padding-right: 14px;
}
.menu-opcao > h2 {
    width: 144px;
    padding-left: 14px;
    padding-right: 14px;
}
.menu-opcao > img {
    width: 144px;
    padding-left: 14px;
    padding-right: 14px;
    height: 87px;
    border-radius: 4px;
    padding-top: 18px;
    padding-bottom: 8px;
}
.menu-opcao-prato {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    padding-bottom: 4px;
    line-height: 19px;
}
.menu-opcao-descricao {
    font-size: 15px;
    color: #A6A6A6;
    font-weight: 300;
    padding-bottom: 5px;
    line-height: 18px;
}
.menu-opcao-preco {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    padding-bottom: 16px;
    line-height: 19px;
}
.menu-opcao-ultimo {
    margin-right: 19px;
}
ion-icon {
    /* display: none; */
    color: #32B72F;
    width: 19px;
    height: 19px;
    position: absolute;
    bottom: 14px;
    right: 11px;
}
/* BORDAS VERDES */
.menu-opcao-pizza-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-lasanha-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-sushi-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-refrigerante-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-suco-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-coco-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-bolo-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-sorvete-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.menu-opcao-pudim-escondido {
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
/* SINAIS VERDES ION-ICON */
.pizza-sinal-verde-escondido {
    display: none;
}
.lasanha-sinal-verde-escondido {
    display: none;
}
.sushi-sinal-verde-escondido {
    display: none;
}
.refrigerante-sinal-verde-escondido {
    display: none;
}
.suco-sinal-verde-escondido {
    display: none;
}
.coco-sinal-verde-escondido {
    display: none;
}
.bolo-sinal-verde-escondido {
    display: none;
}
.sorvete-sinal-verde-escondido {
    display: none;
}
.pudim-sinal-verde-escondido {
    display: none;
}
/* BARRA FIXA DE BAIXO */
footer {
    width: 100vw;
    height: 92px;
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}
.barra-baixo-botao {
    width: 364px;
    height: 61px;
    background-color: #32B72F;
    border-radius: 50px;
    display: inline-flex;
    text-align: center;
}
.barra-baixo-botao h2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    margin: auto;
    /* border: 1px solid black; */
    width: 200px;
}
.barra-baixo-botao-verde {
    background-color: #CBCBCB;
}
.barra-baixo-botao-verde h2 {
    font-weight: 400;
}
/* ABA DE CONFIRMAÇÃO DE PEDIDO */
/* CAIXAS */
.fundo-apagado {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
}
.confirmar-pedido-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto auto;
    width: 377px;
    /* height: 342px; */
    /* top: calc(50vh - 171px); */
    border-radius: 9px;
    box-shadow: 0px 0px 10px 1px #00000040;
    background-color: #50D074;
    position: relative;
    box-sizing: border-box;
    padding: 21px 24px;
}
.botao-final {
    background-color: #ffffff;
    width: 329px;
    height: 52px;
    padding-top: 13px;
    border-radius: 100px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: inline-flex;
    text-align: center;
    /* border: 1px solid black; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: auto auto; */
}
.confere-opcao {
    display: flex;
    justify-content: space-between;
}
.confirmar-pedido-popup :nth-child(1) {
    margin-bottom: 28px;
}
.confirmar-pedido-popup :nth-child(2) {
    margin-bottom: -13px;
}
.confirmar-pedido-popup :nth-child(3) {
    margin-bottom: -13px;
}
.confirmar-pedido-popup :nth-child(4) {
    margin-bottom: -13px;
}
.confirmar-pedido-popup :nth-child(5) {
    margin-bottom: -4px;
}
.confirmar-pedido-popup :nth-child(7) {
    margin-top: 21px;
}
/* TEXTOS */
.confirmar-pedido-popup h2{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.confere-opcao h2 {
    font-weight: 400;
}
.confirmar-pedido-popup :nth-child(7) {
    font-size: 20px;
}
.botao-final h2 {
    color: #50D074;
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto auto;
    /* border: 1px solid black; */
    /* width: 200px; */
}
.confere-opcao-total {
    display: flex;
    justify-content: space-between;
}
.escondido {
    display: none;
}
/* 
.barra-fixa-baixo-cinza {
    DESATIVA BARRA FIXA DE BAIXO CINZA
    display: none;
}
.barra-fixa-baixo-verde {
    DESATIVA BARRA FIXA DE BAIXO VERDE
    display: none;
}
*/

/* REFERÊNCIAS FONT-FAMILY CSS */

/* 
.roboto {
    font-family: 'Roboto', sans-serif;
}
.righteous {
    font-family: 'Righteous', cursive;
}
*/